.top a {
    text-decoration: none;
    color: black;
}

.top {
    background-color: #ebe7e7;
}

.box-left {
    margin-top: 30px;
}

.box-left img {
    width: 700px;
}

.chitiet .box-left .box-right {
    width: 50%;
}

.chitiet {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box-right {
    margin-top: 30px;
}

.box-right h3 {
    font-size: 25px;
    font-weight: 500px;
}

.box-right h4 {
    font-size: 20px;
    color: red;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.size {
    display: flex;
    margin-left: 50px;
}

.box-right label {
    font-weight: 500px;
    font-size: 18px;
}

.box-right .size p {
    text-align: center;
    width: 28px;
    border: 1px solid black;
    font-size: 18px;
    margin: 0 10px;
}

.box-right .size p:hover {
    color: red;
}

hr {
    margin-top: 20px;
}

.mua {
    margin-top: 30px;
}

.mua button {
    width: 200px;
    padding: 10px;
    margin: 0 10px;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.mua #one button {
    background-color: black;
}

.mua #two button {
    background-color: red;
}

.mua #one button:hover {
    background-color: rgb(124, 122, 122);
}

.mua #two button:hover {
    background-color: rgb(126, 138, 134);
}

.box-1 {
    margin-top: 30px;
    border: 1px dotted orangered;
    width: 520px;
    padding: 10px;
}

.box-1 h3 {
    margin-top: 10px;
    font-size: 20px;
    margin-left: 20px;
}

main h4 {
    font-size: 25px;
    text-align: center;
}

main h4 hr {
    margin-left: 470px;
    align-items: center;
    text-align: center;
    width: 300px;
}

.hd {
    margin-top: 50px;
}

.hd img {
    margin-left: 250px;
}

.box-2 {
    margin-top: 30px;
    margin-bottom: 50px;
}

.box-2 h3 {
    font-size: 26px;
    text-align: center;
}

.product3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.product3 .item3 {
    background-color: rgba(219, 205, 205, 0.986);
    margin: 20px 10px;
    width: 380px;
    height: 500px;
    border-radius: 5px;
}

.product3 .item3 img {
    height: 300px;
    width: 100%;
}

.product3 .item3 .name {
    text-align: center;
    font-size: 25px;
}

.product3 .item3 p {
    text-align: center;
}

.product3 .item3 p:hover {
    color: red;
}

.product3 .item3 .name:hover {
    color: red;
}