
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo img {
    max-width: 100px;
}

nav .menu {
    list-style-type: none;
    display: flex;
}

nav .menu li {
    margin-right: 20px;
}

nav .menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.acctions {
    display: flex;
}

.acctions .item {
    margin-left: 20px;
}

.acctions .item a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px 0;
}

.cart {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 800px;
}

.cart h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.cart-items {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    margin-bottom: 15px;
}

.cart-item img {
    max-width: 100px;
    margin-right: 20px;
}

.item-details {
    flex: 1;
}

.item-details h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.item-details p {
    margin-bottom: 5px;
    color: #666;
}

.btn-remove {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.btn-remove:hover {
    background-color: #d32f2f;
}

.cart-summary {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.cart-summary h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.cart-summary p {
    margin-bottom: 5px;
    color: #666;
}

.btn-checkout {
    background-color: #1e6ef2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.btn-checkout:hover {
    background-color: #155dad;
}

footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    text-align: center;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-icons a {
    color: #333;
    margin-left: 10px;
    font-size: 18px;
}


.quantity-controls {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.btn-quantity {
    background-color: #ccc;
    color: #333;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-quantity:hover {
    background-color: #999;
}

.btn-quantity.btn-minus {
    margin-right: 5px;
}

.btn-quantity.btn-plus {
    margin-left: 5px;
}
